@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    color: purple;
    font-family: 'Poppins', sans-serif;
}

.login-link{
    color: purple;
    margin-left: -16px;
}